@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    background-color:DarkSeaGreen;
    font-family: 'Press Start 2P', cursive;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    text-align: center;
    padding: 20px;
}

.heading{
    font-size: 24px;
    padding: 15px;
    color: rgb(16, 90, 25);
  
}

#search-box{
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 15px;
    border: 3px solid rgb(22, 84, 72);
    width: 90%;    
    max-width: 600px;
}


.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.imagem-container {
    position: relative;
    width: calc(33,33% - 10px);
    max-width: 300px;
}

img{
    width: 100%;
    border-radius: 9px;
    display: block;
}



@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 480px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr); 
    } 
}